@keyframes textScroll {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(calc(-100% + 72px));
  }
  100% {
    transform: translateY(calc(-100% + 72px));
  }
}
